
.background{
    position: relative;
    height: 20%;
}

.body-main-container {
    align-items: center;
    display: grid;
    justify-content: space-evenly;

}

.banner-container{
    margin: 20px;
    background-color: #e6e6e6;
}

.banner {
    font-size: 20.4px;
    font-weight: 900;
}


.body-inner-container{
    display: flex;
    justify-content: space-between;
    min-width: 70%;
}

.body-image-container{
    display: absolute;
    padding-top: 250px;
}

.left-container{
    margin-left: 200px;
    padding-top: 250px;
    align-items: center;
}

.button-container{
    display: absolute;
    margin-top: 15px;
}

.top-button-container{
    display: flex;
    min-width: 50px;
}

.middle-button-container{
    display: flex;
    min-width: 50px;
}

.bottom-button-container{
    display: flex;
    min-width: 50px;
}

.body-text-container{
    display: absolute;
    justify-content: center;
    align-items: center;
    min-width: 50%;
}

.large-text{
    text-align: 'left';
    font-size: 52.3px;
}

.small-text{
    text-align: 'left';
    font-size: 41.5px;
    width: 700px;
}

