.App {
  position: relative;
  padding: 0 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media(min-width: 600px) {
  /* Phone devices */
  .App {
    padding: 0 100px;
  }
}

@media(min-width: 900px) {
  /* Tablet or small laptop devices */
  .App {
    padding: 0 150px;
  }
}

@media(min-width: 1300px) {
  /* Laptop web */
  .App {
    padding: 0 200px;
  }
}

@media(min-width: 1600px) {
  /* High res monitors */
  .App {
    padding: 0 300px;
  }
}

.text {
  font-family: Montserrat, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
}

.sun {
  position: fixed;
  top: 30%;
  left: 50%;
  width: 200px;
  opacity: 70%;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  src: local('Montserrat'), url(./fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
}
