.banner-main-container{
    background-color: white;
    opacity: 0.8;
    padding: 9px 0;
    left: 0;
    margin-top: 0;
    z-index: 1;
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.closing-icon {
    height: 15px;
    margin: auto 0;

    cursor: pointer;
    justify-content: center;
}
