
.banner-main-container{
    background-color: #e6e6e6;
    display: flex;
    padding: 16px 0;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
}

.banner-main-container:before {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

