.home-page {
    position: relative;
    flex-grow: 1;
}

.home-container{
    z-index: 100;
    position: absolute;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

@media(min-width: 600px) {
    .home-container {
        margin-top: 100px;
        width: 400px;
    }
}

@media(min-width: 900px) {
    .home-container {
        margin-top: 100px;
        width: 600px;
    }
}

@media(min-width: 1300px) {
    .home-container {
        margin-top: 150px;
        width: 700px;
    }
}

.home-text{
    margin: 7px;
    min-width: 80%; 
}

.large-text{
    text-align: left;
    font-size: 52.3px;
}

.small-text{
    text-align: left;
    font-size: 41.5px;
}

.submit-text {
    margin-left: 19px;
    margin-top: 30px;
    font-weight: 530;
    cursor: pointer;
    text-align: left;
    font-size: 1.25rem; 
}

.home-background {
    margin-top: 90px;
    bottom: 0;
}

.home-image{
    width: 80%;
    float: right;
}
