.home-page {
    position: relative;
    flex-grow: 1;
}

.home-container{
    z-index: 100;
    position: absolute;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

@media(min-width: 600px) {
    .home-container {
        margin-top: 100px;
        width: 400px;
    }
}

@media(min-width: 900px) {
    .home-container {
        margin-top: 100px;
        width: 600px;
    }
}

@media(min-width: 1300px) {
    .home-container {
        margin-top: 150px;
        width: 700px;
    }
}

.home-text{
    margin: 7px;
    min-width: 80%; 
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.large-text{
    text-align: left;
    font-size: 52.3px;
}

.small-text{
    text-align: left;
    font-size: 41.5px;
}

.home-background {
    position: absolute;
    bottom: 0;
}

.home-image{
    width: 100%;
}
