.mood-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 33px;
  border-radius: 10px;
  width: fit-content;
  margin: 7px;
  border: 2px solid black;
}

.mood-button:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.mood-button:hover .mood-text[disabled] {
  color: #a3a3a3;
}

.mood-text {
  color: #000000;
  font-size: 1.25rem;
  letter-spacing: .05rem;
  padding: 0 20px;
}
