.recommendation-page {
  max-height: 100vh;
  max-width: 100vw;
}

.recommendation-panel {
  width: 100%;
  display: flex;
}

.weather-forecast {
  text-align: center;
  padding: 15px 0;
  background-color: rgb(242, 242, 242)
}